.search{
    background-color: #EFEFF4;
}
.category{
    display: flex;
    padding: 12px 0;
    font-size: 16px;
    span{
        flex: 1;
        text-align: center;
    }
}
.search-box {
    background:  #FFFFFF;
    box-shadow: 0 2.5px 5px 0 rgba(212,218,226,0.15);
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    .tab {
        display: flex;
        div {
            flex:1;
            font-size: 14px;
            padding: 8px 0;
            text-align: center;
            z-index: 1;
            border: 1px solid #2681FF;
            line-height: 17px;
        }
        .one_way{
            border-left: none;
        }
    }

    .box{
        padding: 12px 0;
        border-bottom: 1px solid #D8D8D8;
        .tit{            
            font-size: 12px;
            color: #999999;
            letter-spacing: 0;
            line-height: 15px;
        }
        .content{
            font-size: 20px;
            color: #333333;
            letter-spacing: 0;
            line-height: 24px;
        }
        .code{            
            font-size: 12px;
            color: #333333;
            letter-spacing: 0;
            line-height: 15px;
        }
        .week{
            margin-left: 4px;
        }
    }
    
    .hascolumn {
        display: flex;
        justify-content: space-between;
        padding: 12px 0;
    }

    .clearline{
        border-bottom: none;
    }
    .search-btn {
        background-image: linear-gradient(90deg,#FFB300 7%,#F57C00 92%);
        box-shadow: 0 6px 6px 0 rgba(255,143,0,.3);
        border-radius: 100px;
        font-size: 20px;
        color: #FFF;
        letter-spacing: 0;
        line-height: 24px;
        text-align: center;
        padding: 10px 0;
    }
}

.footer-menu{
    margin: 16px;
    border-radius: 8px;
    margin-top: 16px;
    padding: 12px 0;
    background: #FFFFFF;
    box-shadow: 0 2.5px 5px 0 rgba(212,218,226,0.26);
    border-radius: 8px;
    display: flex;
    .left, .right{
        flex: 1;
        display: flex;
        justify-content: center;
        span{
            font-size: 16px;
            color: #333333;
            letter-spacing: 0;
            line-height: 20px;
            margin-left:4px;
            line-height: 28px;
        }
        .icon-bookings {
            background: url('../../resources/img/mybookings.png') no-repeat scroll 0 0;
            background-size: 100% 100%;
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
        }
        .icon-status {
            background: url('../../resources/img/flight_status.png') no-repeat scroll 0 0;
            background-size: 100% 100%;
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
        }
    }
    .left{
        border-right: 1px solid rgba(0,0,0,0.1)
    }
}