@font-face {
    font-family: 'icomoon';
    // src: url('../../resources/fonts/icomoon.eot?m6s1z0');
    src:
        // url('../../resources/fonts/icomoon.eot?m6s1z0#iefix') format('embedded-opentype'),
        url('icomoon.ttf') format('truetype'),
        url('icomoon.woff') format('woff'),
        url('icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-account-circle::before {
    content: '\e900';
}
.icon-keyboard-return::before {
    content: '\e901';
}
.icon-down-arrow::before {
    content: '\e902';
}
.icon-up-arrow::before {
    content: '\e903';
}
.icon-minus::before {
    content: '\e90a';
}
.icon-plus::before {
    content: '\e90b';
}
.icon-toggle::before {
    content: '\e907';
}
.icon-arrow-two-way::before {
    content: '\e908';
}
.icon-arrow-one-way::before {
    content: '\e909';
}
.icon-hotel::before {
    content: '\e906';
}
.icon-flight::before {
    content: '\e904';
}
.icon-train::before {
    content: '\e905';
}
.icon-check_circle::before {
    content: '\e90f';
}
.icon-home::before {
    content: '\e910';
}

.icon-clock::before {
    content: '\e911';
}
.icon-like::before {
    content: '\e90c';
}
.icon-arrow-right2::before {
    content: '\ea3c';
}
.icon-arrow-thin-right::before {
    content: '\e912';
}
.icon-long-arrow-right::before {
    content: '\e913';
}