.help {
    padding: 16px 20px 0;
    background: #fff;
    .title {
        color: rgba(0, 0, 0, .87);
        text-decoration: none;
        padding-bottom: 16px;
        font-size: 20px;
    }
    .us, .cn, .others {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        .country {
            font-size: 12px;
            color: rgba(0,0,0,.54);
        }
        .phone {
            font-size: 16px!important;
        }
        .info {
            font-size: 12px;
            color: rgba(0,0,0,.54);
        }
    }
    .right {
        display: flex;
        align-items: center;
    }
}
