.datePicker {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #EFEFF4;
    .fullcalender-header{
        display: flex;
        justify-content: center;
        margin: 20px 0;
        select{
            color: #0288d1;
            border-radius: 2px;
            border-color: #0288d1;
            padding: 0 10px;
            margin-right: 10px;
        }
    }
    .grid{
        display: grid;
        grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
        background-color: #0288d1;
        font-size: 15px;
        color: rgb(247, 244, 244);
        span{
            text-align: center;
        }
        .th{
            font-size: 10px;
            font-weight: lighter;
            border-bottom: 2px solid rgba(204, 204, 204, .5);
        }
        .td{
            padding: 9px 0;
        }
        .fadeOut {
            color: rgba(255, 255, 255, .2);
        }
        .currentIndex {
            background: rgba(255, 255, 255, 1);
            border-radius: 50%;
            color: rgba(0, 0, 0, .87);
            margin: auto;
            width: 40px;
        }
        .slider{
            background-color: rgba(255, 255, 255, .2);
        }
        .sliderStart{

        }
        .sliderEnd{

        }
    }
}

