// @import "../Adaptation/style.scss";

.game-container {
  position: relative;
  width: 280px;
  margin: 0 auto;

  .grid {
    width: 260px;
    height: 260px;
    background: #bbada0;
    padding: 10px;
    border-radius: 6px;

    .row {
      display: flex;
      margin-bottom: 10px;
      justify-content: space-between;

      .tr-container {
        position: relative;
        // overflow: hidden;
        width: 57.5px;
        height: 57.5px;
      }

      .cell {
        width: 57.5px;
        height: 57.5px;
        border-radius: 3px;
        background: rgba(238, 228, 218, 0.35);
      }

      .tile {
        font-size: 40px;

        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 57.5px;
        height: 57.5px;
        border-radius: 3px;
        line-height: 57.5px;
        color: #f9f6f2;
        text-align: center;
        font-weight: bold;
        box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
        transform: translate(0, 0);
        transition: 100ms ease-in-out;
        transition-property: transform;
      }

      .tile-2 {
        background: #eee4da;
        color: #776e65;
      }

      .tile-4 {
        background: #ede0c8;
        color: #776e65;
      }

      .tile-8 {
        background: #f2b179;
      }

      .tile-16 {
        background: #f59563;
      }

      .tile-32 {
        background: #f67c5f;
      }

      .tile-64 {
        background: #f65e3b;
      }

      .tile-128 {
        background: #edcf72;
        font-size: 20px;
      }

      .tile-256 {
        font-size: 20px;
        background: #edcc61;
      }

      .tile-512 {
        font-size: 20px;
        background: #edc850;
      }

      .tile-1024 {
        background: #edc53f;
        font-size: 15px;
      }

      // @for $i from 0 through 3 {
      //   .X-#{$i} { transform: translateX(1.74rem * $i); }
      // }

      // @for $j from 0 through 3 {
      //   .Y-#{$j} { transform: translateY(1.74rem * $j); }
      // }
    }
  }

  .wrapper {
    position: absolute;
    top: 0;
    width: 200px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .game-over {
      font-size: 40px;

      background: orangered;
      color: white;
      text-align: center;
    }
  }

  .heading{
    font-size: 15px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .title{
      font-size: 27px;
      padding-top: 10px;
      color: #776e65;
      font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
      font-weight: bold;
    }
    .score,
    .best-score {
      position: relative; 
      background: #bbada0;
      padding: 8px;
      font-weight: bold;
      border-radius: 3px;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 8px;
      .tit{
          color: #eee4da;font-size: 8px;
      }
    }
  }
  .above-game{
    display: flex;
    margin-bottom: 10px;
    .tit{
      color: #776e65;
      font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;font-size: 18px;
      width: 180px;
    }

    .restart {
      background: #8f7a66;
      border-radius: 3px;
      padding: 0 20px;
      color: #f9f6f2;
      text-align: center;
      display: flex;justify-content: center;align-items: center;
      padding: 0 10px;
      flex: 1;
      margin: 10px 0;
      font-size: 15px;
      font-weight: bold;
    }
  }
}
.show_anim {
  display: block;
  animation: show_anim 0.3s ease;
}
@keyframes show_anim
{
  from {transform:scale(none);}
  to {transform:scale(1.1, 1.1);}
}