
.list{
    background-color: #EFEFF4;
    min-height: calc(100vh - 150px);
    padding-top: 5px;
    .item {
        background: #fff;
        margin: 0 5px 5px 5px;
        padding: 5px 12px;
        .row1 {
            .logo {
                background: #fff;
                width: 16px;
                height: 16px;
                vertical-align: middle;
                margin: -3px 5px 0 0;
            }
        }

        .row2 {
            display: flex;
            justify-content: space-between;
            margin: 3px 0;
            .column1, .column2 {
                display: inline-block;                
                float: left;
                .time {
                    font-size: 20px;
                }
                .loc {
                    color: #999;
                    // text-align: center;
                    margin-top: -2px;
                }
            }
            .column1{
                width: 72px;
            }
            .arrow {
                border-bottom: 1px solid gray;
                width: 60px;
                margin: 0 10px;
            }
            .price {
                display: flex;
                align-items: center;
                color: #1899F2;
                font-size: 15px;
                font-weight: 700;
            }
        }
        .row3 {
            color: #999;
        }
    }
}

// 向右半角箭头
.arrow-right-semiangle {
    width: 60px;
    display: flex;
    float: left;
    margin-right: 20px;
    transform: translateY(-3px);
    
  
    &::before {
      content: '';
      width: 70px;
      height: 20px;
      border-bottom: 1px solid #ccc;
    }
  
    &::after {
      content: '';
      border-bottom: 3px solid #ccc;
      border-right: 3px solid transparent;
    }
  }