@import '../../components/Adaptation/style.scss';
body{
    background: rgb(235, 233, 233);
}
// 定义可复用样式
.tip{
    color: rgb(196, 189, 189);

    @include font-dpr(32px);
    padding-top: 0.1rem;
}
.info {
  @include font-dpr(40px);
  height: 0.36rem;
  line-height: 0.36rem;
  margin: 0.2rem 0;
}
.code{
    @include font-dpr(24px);
    height: 0.16rem;
    line-height: 0.16rem;
    color: rgb(146, 143, 143);
    margin-bottom: 0.2rem;
}
// 完全居中
@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}
// 等分项
@mixin equable-item{
    display: flex;
    div{
        flex: 1;
    }
}
@mixin flex( $justify ) {
    display: flex;
    justify-content: $justify;
}

// 页面
.header{
    @include flex(space-between);
    background: white;
    height: 1rem;
    line-height: 1rem;
    .logo{
        padding-left: 0.02rem;
        color: rgb(122, 172, 248);
    }
    .slogan{
        padding-right: 1.6rem;
    }
}
.main{
    background: rgb(235, 233, 233);
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    .nav{
        @include flex(space-between);
        div{
            flex: 1;
            @include center;
        }
        margin: 0.01rem;
        height: 1rem;
    }
    .search-box{
        box-shadow: 0.01rem 0.4rem rgba(0, 0, 0, 0.03);
        background: white;
        padding: 0.16rem;
        .tab{
            display: flex;
            height: 1rem;
            color: rgb(122, 172, 248);
            :first-child {
                background-color: rgb(122, 172, 248);
                color: white;
            }
            div{
                @include center;
                flex: 1;
                border: 0.01rem solid rgb(122, 172, 248);
            }
        }
        .search-city{
            // 留位置给交换按钮
            .dcity, .acity{
                border-bottom: 0.01rem solid rgb(196, 189, 189);
                .dcityinfo, .acityinfo{
                }
            }
        }
        .ddate{
            border-bottom: 0.01rem solid rgb(196, 189, 189);
        }
        .btn{
            background: orange;
            height: 1rem;
            color: white;
            @include center;
        }
    }
    .person{
        @include equable-item;
        .num{
            margin: 0 0.8rem;
            color: rgba(0,0,0,.87);
        }
    }
    .mybookings{
        margin-top: 0.16rem;
        background: white;
        text-align: center;
        color: #0288d1;
        height: 1rem;
        box-shadow: 0.01rem 0.4rem rgba(0, 0, 0, 0.03);
        @include center;
    }
}