.test{
    // css / 2
    font-size: 12px;
    color: #06AEBD;
    line-height: 16px;

    // 布局
    // 尺寸
    width: 144.5px;
    height: 16px;

    // 位置
    // left: 16px;
    margin: 0 0 0 16px;

    // 
    background: green;
}
// 双元素
.line{
    display: flex;
    justify-content: space-between;
    .left{
        display: inline-block;
        margin-left: 12px;
        height: 15px;
    }
    .right{
        display: inline-block;
        // margin-left: 121px; // ?应减去所有左边元素 or 右边
        margin-right: 175.5px;
        height: 15px;
    }
}

