@import '../../utils/Adaptation/style.scss';
.header{
    height: 1rem;
    background: rgb(63, 130, 255);
    display: flex;
    .info{
        flex: 1;
        height: 0.5rem;
        line-height: 0.5rem;
        color: #fff;
        opacity: .7;
        @include font-dpr(40px);
    }
    .filter{
        display: flex;
        div{
            padding: 0 16px;
        }
    }
}
.main{
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    background: rgb(235, 233, 233);
    .item{
        margin: 0.2rem;
        padding: 0.2rem 0.2rem;
        background: white;
        .row2{
            display: flex;
            .left{
                display: flex;
                div{
                    margin-right: 0.1rem;
                    .time{
                        @include font-dpr(30px);
                        text-align: center;
                    }
                    .airport{
                        color: #999;
                        text-align: center;
                        span{
                            margin: 0 0.02rem;
                            @include font-dpr(20px);
                        }
                    }
                }
            }
            .right{
                flex: 1;
                text-align: right;
                color: #1899F2;
            }
        }
    }
}